.services__button {
    border: none;
    width: 210px;
    height: 40px;
    background-color: #5068A5;
    border-radius: 4px;
    color: white;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}

.services__button:hover {
    opacity: .6;
}

.services__button:last-child {
    background-color: white;
    border: 1px solid #D8DCE9;
    box-sizing: border-box;
    color: #5068A5;
    margin-top: 16px;
}

@media screen and (max-width: 1199px) {
    .services__button {
        margin: 0 0 0 0;
        padding: 0;
        width: 160px;
    }
    .services__button:last-child {
        margin: 0 0 0 16px;
    }
}

@media screen and (max-width: 767px) {
    .services__button {
        margin: 0;
        padding: 0;
        width: 256px;
    }
    .services__button:last-child {
        margin: 8px 0 0;
    }
}