.services__text {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #666666;
    margin-top: 16px;
}

@media screen and (max-width: 1199px) {
    .services__text {
        font-size: 12px;
        line-height: 16px;
    }
}