.services__container {
    margin: 24px 0 0 0;
    background-color: white;
    box-shadow: 0px 10px 50px rgba(24, 34, 70, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

@media screen and (max-width: 1199px) {
    .services__container {
        flex-direction: column;
    }
}