.payment__nav {
    margin: 24px 0 0 0;
    width: 658px;
    height: 27px;
    border-bottom: solid 1px #EFF1F6;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

@media screen and (max-width: 1199px) {
    .payment__nav {
        width: 586px;
    }
}

@media screen and (max-width: 767px) {
    .payment__nav {
        width: 100%;
        overflow: hidden;
        overflow-x: scroll;
        white-space: nowrap;
    }
    .payment__nav::-webkit-scrollbar {
        display: none;
    }
}