.payment__card {
    background-color: #F8F8F8;
    border-radius: 8px;
    margin: 32px 0 0 0;
    padding: 0;
    max-width: 32.1370%;
}

.payment__card:nth-child(2) .payment__card-title {
    background: linear-gradient(88.34deg, #EB5757 0%, #FF8D8D 100%);
}

.payment__card:nth-child(3) .payment__card-title {
    background: linear-gradient(88.34deg, #6065A7 0%, #8B91DD 100%);
}

.payment__card:last-child {
    margin-right: 0;
}

@media screen and (max-width: 1199px) {
    .payment__card {
        max-width: 48.865%;
    }
    .payment__card:last-child {
        max-width: 100%;
    }
    .payment__card:last-child .payment__card-table {
        width: 95%;
    }
}

@media screen and (max-width: 767px) {
    .payment__card {
        max-width: 100%;
    }
    .payment__card:last-child .payment__card-table {
        max-width: 94%;
    }
}