.header__text {
    font-size: 14px;
    line-height: 20px;
    margin: 12px 0 12px 6.5px;
}

@media screen and (max-width: 1199px) {
    .header__text {
        font-size: 13px;
        margin: 10px 0 10px 8px;
    }
}

@media screen and (max-width: 767px) {
    .header__text {
        font-size: 12px;
        line-height: 16px;
        margin: 8px 8px 8px 4px;
    }
}