.header__text_place_money-container {
    margin-left: 8px;
}

@media screen and (max-width: 1199px) {
    .header__text_place_money-container {
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (max-width: 767px) {
    .header__text_place_money-container {
        font-size: 12px;
        line-height: 16px;
        margin: auto 0 auto 4px;
    }
}