.services__time {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    margin-top: 8px;
}

@media screen and (max-width: 1199px) {
    .services__time {
        margin: 0 0 0 24px;
    }
}

@media screen and (max-width: 767px) {
    .services__time {
        margin: 0;
    }
}