.header__text_place_user {
    margin-left: 16px;
    width: 71px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 1199px) {
    .header__text_place_user {
        display: none;
    }
}