.header__money-container {
    width: 348px;
    border: 1px solid #D8DCE9;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}