.payment__link {
    font-size: 14px;
    line-height: 20px;
    margin-right: 40px;
    color: #5068A5;
}

.payment__link:hover {
    opacity: .6;
    color: #EA5DBB;
    border-bottom: solid 2px #EA5DBB;
    text-decoration: none;
}

.payment__link:last-child {
    margin-right: 0;
}

@media screen and (max-width: 1199px) {
    .payment__link {
        margin-right: 16px;
    }
}

@media screen and (max-width: 767px) {
    .payment__link {
        font-size: 12px;
    }
}