.header__container {
    height: 44px;
    margin: 18px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width:1199px) {
    .header__container {
        margin: 12px 16px;
        height: 40px;
    }
}

@media screen and (max-width: 767px) {
    .header__container {
        margin: 16px;
        height: 32px;
    }
}