.services__subtitle {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    margin-top: 16px;
}

@media screen and (max-width: 1199px) {
    .services__subtitle {
        font-size: 12px;
        line-height: 16px
    }
}